.jumbotron {
  background-color: orange;
  color: white;
  text-align: center;
}

.player1Score {
  border: 1px solid green;
  margin-bottom: 10px;
}

.player2Score {
  border: 1px solid green;
  margin: 10px 0px;
}

#scoreBoard {
  border: 1px solid red;
  margin: 10px 0px;
}

#player1Buttons {
  border: 1px solid blue;
  margin: 10px 0px;
}

#player2Buttons {
  border: 1px solid blue;
}
